
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.raleway-font {
  font-family: "Raleway", sans-serif;
}
.jsButton:hover{
  background-color:#1DD100 ;
}
.jsButton{
  background-color:#1DD100 ;

}

.b-r-t{
  border-radius: 88px;
}
.btn-bg-b{
    border: 1px solid rgba(29, 209, 0, 0.40);
background: rgba(29, 209, 0, 0.10);
}